{
  "presets": [
    [
      "next/babel", {
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-sass"]
        }
      }
    ]
  ],

  "plugins": [
    [
      "inline-react-svg", {
        "svgo": false
      }
    ],
    [
      "prismjs", {
      "languages": ["javascript"],
      "theme": "a11y-dark",
      "css": true
    }
  ]
  ]
}